@tailwind base;

[type='text'],
input:where(:not([type])),
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  padding: 0.5rem 0.75rem;
}

/* Hide clear button in Chrome, Safari, and Opera */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide clear button in Firefox */
input[type='search']::-moz-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide clear button in Internet Explorer and Edge */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

@tailwind components;
@tailwind utilities;

@layer components {
  .btn-sm {
    @apply leading-[2] lg:leading-[1.8] px-2 py-1;
  }

  .btn-base {
    @apply leading-10 lg:leading-9;
  }

  .btn-lg {
    padding: 0.625rem 1.5rem;
    color: #f1f5f9;
  }

  .btn-solid {
    border-width: 1px;
    color: #f1f5f9;
  }

  .spinner-base {
    @apply h-10 w-10 relative;
  }

  .spinner-base::before {
    content: '';
    @apply h-10 w-10 absolute border-solid border-2 rounded-full;
    @apply border-brand-orange-100;
    @apply border-t-brand-orange-600;
    animation: spinner 0.8s linear infinite;
  }

  .share-icon {
    --tw-scale-x: 0.9;
    --tw-scale-y: 0.9;
    transform: scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }

  .part-pointer::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-right: 5px solid white;
    border-bottom: 12px solid transparent;
  }

  .markdown p,
  .markdown div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
  }
  .markdown {
    text-align: justify;
    line-height: 1.5;
    @apply transition-all duration-500 ease-linear;
  }
  .dynamicHTMLContainer > p > a {
    @apply text-brand-orange-700;
  }
}

@layer utilities {
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spinner {
    animation: spinner 0.8s linear infinite;
  }

  @media (max-width: 1024px) {
    div.nav-menu-hide.flex {
      display: none;
    }
  }
}
