@tailwind base;

[type='text'],
input:where(:not([type])),
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  padding: 0.5rem 0.75rem;
}

/* Hide clear button in Chrome, Safari, and Opera */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide clear button in Firefox */
input[type='search']::-moz-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide clear button in Internet Explorer and Edge */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

@tailwind components;
@tailwind utilities;

@layer components {
  .spinner-base {
    @apply h-10 w-10 relative;
  }

  .spinner-base::before {
    content: '';
    @apply h-10 w-10 absolute border-solid border-2 rounded-full;
    @apply border-brand-orange-100;
    @apply border-t-brand-orange-600;
    animation: spinner 0.8s linear infinite;
  }

  .share-icon {
    --tw-scale-x: 0.9;
    --tw-scale-y: 0.9;
    transform: scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
}

@layer utilities {
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spinner {
    animation: spinner 0.8s linear infinite;
  }
}
